<?xml version="1.0" encoding="utf-8"?>
<servers>
	<gameserver>
		<server id="23601" host="bullfight2017.dd.game" port="23501" desc="level为1的游戏服务器" />
		<server id="23602" host="bullfight2017.dd.game" port="23501" desc="level为1的游戏服务器" />
		<server id="23603" host="bullfight2017.dd.game" port="23502" desc="level为2的游戏服务器" />
		<server id="23604" host="bullfight2017.dd.game" port="23502" desc="level为2的游戏服务器" />
		<server id="23605" host="bullfight2017.dd.game" port="23503" desc="level为3的游戏服务器" />
		<server id="23606" host="bullfight2017.dd.game" port="23503" desc="level为3的游戏服务器" />
		<server id="23607" host="bullfight2017.dd.game" port="23504" desc="level为4的游戏服务器" />
		<server id="23608" host="bullfight2017.dd.game" port="23504" desc="level为4的游戏服务器" />
	</gameserver>
</servers>
